{% extends 'base.html.twig' %}

{% block title %}Version index{% endblock %}

{% block body %}
    <h1>Version index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Version</th>
                <th>Created_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td>{{ version.id }}</td>
                <td>{{ version.version }}</td>
                <td>{{ version.createdAt ? version.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_version_show', {'id': version.id}) }}" class="btn btn-success">Show</a>
                    <a href="{{ path('app_version_edit', {'id': version.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_version_new') }}" class="btn btn-outline-success">Create new</a>
{% endblock %}
